.footer {
    margin-top: 67px;
    margin-bottom: 60px;
    color: rgba(84, 84, 84, 1);
    font-weight: 400;
  }
  
  .footer__text {
    margin: 0;
    max-width: 318px;
    line-height: 18px;
    font-size: 14px;
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      margin-top: 48px;
      margin-bottom: 36px;
    }
    .footer__text {
      align-items: flex-start;
      max-width: 282px;
      line-height: 14px;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    .footer {
      margin-top: 48px;
      margin-bottom: 36px;
    }

    .footer__text {
      max-width: 282px;
      line-height: 14px;
      font-size: 14px;
      display: flex;
      justify-content: center;
    }
  }